@media print{
    .geekItem.blockquote {
      padding: 19px;
  }
}

html {
    -webkit-print-color-adjust: exact;
    -webkit-filter: opacity(1);
}

.geekItem.blockquote {
	background-color: #47B29D;
}

.headerLogos {
	position: absolute;
	image-rendering: smooth;

border-radius: 150% 150% 150% 150% / 150% 150% 150% 150% ;
-moz-border-radius: 150% 150% 150% 150% / 150% 150% 150% 150% ;
-webkit-border-radius: 150% 150% 150% 150% / 150% 150% 150% 150% ;

-webkit-box-shadow: 5px 5px 15px 5px #47B29D; 
box-shadow: 5px 5px 15px 5px #47B29D inset; 
top: 0;
background-color: aliceblue;
}

.infos {
	margin-top: 10px;
}

ul.infos li:last-child {
  padding-top: 32px;
}


.geekItem.blockquote {
    padding: 0px;
    line-height: normal;
}

.blockquote {
  font-size: 0.9rem;
}