.geekItem.blockquote {
    background-color: #FF24C5C0;
}

.geekItem.logo1,.geekItem.logo2,.geekItem.logo3 {
    content: "";
    margin-top: 80px;
    width: 384px;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}


@media print and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
.geekItem.logo1,.geekItem.logo2,.geekItem.logo3 {
        width: 370px;
    }
}

.geekItem.logo1 {
    text-align: left;
 }

.geekItem.logo2 {
    text-align: center;
}

.geekItem.logo3 {
    text-align: right;
 }

/* reindent reste à faire */
/*faire de l'include pour le code html redondant*/
