.coin-geek .content .geekItem.body code pre{
  font-size: 11px;
  color: white;
}

pre{
    overflow: hidden;
}

.geekItem blockquote pre{
    font-size: 1.4em;
    padding-top: 2px;
}

.indent{
  height: 15px;
}
