.geekItem.body, .geekItem.body pre code{
  color: white;
  background-color: #2E3238;
  font-size: 7px;
  line-height: 16px;
  font-weight: normal;
}

.geekItem pre code.medley{
  line-height: 18px;
}

.right-column .content .legende{
  background-color: #2E3238;
  border: cornflowerblue;
  padding: 40px;
  padding-bottom: 55px;
}

.left-column-margin{
  margin-left: 216px;
  background-color: inherit;
  height: 1090px;
  width: 24px;
  position: absolute;
  z-index: 10;
}

.left-column{
  background-color: #4472C4;
  color: white;
}