.geekItem.body, .geekItem.body pre code{
  color: white;
  background-color: #2E3238;
  font-size: 7px;
  line-height: 18px;
  font-weight: normal;
}

.geekItem pre code.medley{
  line-height: 17px;
}

.left-column-margin{
  margin-left: 216px;
  background-color: inherit;
  height: 1090px;
  width: 24px;
  position: absolute;
  z-index: 10;
}

.left-column{
  background-color: #4472C4;
  color: white;
}

.blockquote > :last-child{
  margin-top: -1px;
}