.geekItem.body, .geekItem.body pre code{
  color: white;
  background-color: #2E3238;
  font-size: 7px;
  line-height: 14px;
  font-weight: normal;
}

.geekItem pre code.medley{
  line-height: 12px;
}

.left-column-margin{
  margin-left: 216px;
  background-color: inherit;
  height: 1092px;
  width: 24px;
  position: absolute;
  z-index: 10;
}

.left-column{
  background-color: #4472C4;
  color: white;
}