@page{
  margin: 0;
}


body/* GENERAL */
*{
  margin: 0;
/*  box-sizing: border-box;*/
}

body{
  font-family: Roboto;
  font-weight: 300;
/*  font-size: .9rem;*/
  font-size: 1.2rem;
  line-height: 1.8rem;
/*  width: 100%;*/
/*  max-width: 230mm;*/
}

a{
  text-decoration: none;
  color: #4472C4;
}

a:hover{
  text-decoration: underline;
}

h1{
  margin: 0 0 1rem;
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

h2{
  margin: 0 0 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2.2rem;
/*  font-family: Roboto;*/
}

.text-blue{
  color: #4472C4;
}

.text-darkblue{
  color: #002060;
}

.text-uppercase{
  text-transform: uppercase; 
}

.icon{
  margin-right: .5rem;
}

.cv-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left-column right-column right-column-two";
  width: 1200px;
/*  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
/* ajout*/
  z-index: -2;
}

.section{
  margin-bottom: 1.5rem;
}

/* LEFT COLUMN */
.left-column{
  grid-area: left-column;
  padding: 40px;
  background-color: #4472C4;
  color: white;
  margin-right: -20px;
}

.left-column-margin{
  right: calc(70% + 6px);
  background-color: inherit;
  height: 1754px;
  width: calc(4% - 2px);
  float: right;
  z-index: 10;
  position: absolute;
}

.portrait{
/*  border-radius: 50%;*/
/*  max-width: 150px;
*/  margin: auto;
  display: block;
  width: 33%;
  margin-bottom: 50px;}

.skills, .skill, .subskill{
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
/*  margin: 0 0 1rem;*/
}



/* RIGHT COLUMN */
/*.right-column{
  grid-area: right-column;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 
    "header"
    "content";
}
*/
/* HEADER */
.header{
  grid-area: header;
  padding: 50px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.infos{
  columns: 2;
  list-style-type: none;
  padding: 0;
}

/* CONTENT */
.content{
  grid-area: content;
  padding: 50px;
/*ajout*/
  padding-top: 65px;
}

.experience-list{
  list-style-type: circle;
}

/* ajouts */
.skill {
  display: block;
}

.subskill {
  display: inline;
  position: absolute;
/*  right: calc(50% + 200px);
*/
  left: 7rem;
  text-align: right;
  width: 15rem;
}

.subskill:after{
  content: attr(data-text);
  background-color: #4472C4;
}

.dots,.lessDots,.moreDots{
  display: inline;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.dots::after {
  content: ".............................................";
}

.moreDots::after {
  content: ".............................................";
}

.lessDots::after {
  content: "....................................";
}

.hideOverlappingDots {
  position: absolute;
  background-color: #4472C4;
  width: 50px;
  height: 130px;
  left: 350px;
  top: 900px;
  z-index: 1;
}

.card.card-body pre{
  color: white;
}

.card-body.shadow-lg.rounded{
  background-color: rgb(0,32,96); 
  border: cornflowerblue;
}

.geekItem.body {
  position: absolute;
  top: 250px;
  width: 385px;

  font-family: "Operator Mono",menlo,monaco,"Lucida Console",monospace;
  font-size-adjust: .53;
}

.geekItem.body, .geekItem.body pre code  {
    color: white;
    background-color: #2E3238;
    font-size: .7rem;
    line-height: 11.8px; 
}

.geekItem.h2 {
    color: #47B29D;
}

.geekItem.blockquote {
/*    margin: 0;*/
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 20px;
    color: white;
    border: none;
}

/* RIGHT COLUMN TWO */
.right-column-two{
  grid-area: right-column-two;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 
    "header"
    "content";
/*  overflow: hidden;*/
}

.right-column-two .content {
  padding: 0;
}
.right-column-two .header, .header {
  padding-right: 0;
}

/*.right-column .header {*/
.header {
  width: 180%;
  z-index: 100;
}

ul.infos li:last-child {
  text-align: right;
}

pre {
  overflow: hidden;
  font-weight: bold;
}

.codeNumbers {
  position: absolute;
  display: block;
  color: #D9D9D9;
  font-weight: lighter;
  left: .5rem;
  border: none;
}

.geekItem.body pre.codeNumbers code {
  color: grey;
}

.indent {
  font-weight: bold; 
  letter-spacing: 0.2rem;
  margin-left: .5rem;
  border-left: 1px dotted grey;
}

.jobTitle{
  color: #8BE9FD;
  font-style: italic; 
  font-weight: bold;
}

.vocabularyLevel3{
  color: #FF24C5;
}

.vocabularyLevel2{
  color: #F1FA8C;
}

.vocabularyLevel1{
  color: #50FA7B;
}

/*.right-column p{*/
p{
  margin: 0;
}

p, #trainingSection p{
  margin: 0 0 1rem;
}

#trainingSection{
  position: absolute; 
  line-height: normal; 
/*  width: max-content;*/
}

.setBookmark{
  position: absolute;
  left: .2rem;
  display: inline;
}
.callBookmark{
  display: inline;
}

.setBookmark:after, .callBookmark:after{
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-table;
  width: .35rem;
  height: .48rem;
  content: "";
}

.geekItem.logo{
  text-align: center;
}

.hr {
    background-image: linear-gradient(90deg, transparent 0%, red 50%, transparent 100%);
    
    border: 2px;
    height: 2px;

}

.hrTest {
 background: rgb(36,0,5);
background: radial-gradient(circle, white 0%, red 35%, white 100%); 

    border: 2px;
    height: 2px;
}

@media print and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  .left-column{
    padding: 40px;
    padding-top: 0;
  }
}