.geekItem.body, .geekItem.body pre code {
  color: white;
  background-color: #2E3238;
  font-size: 7px;
/*  line-height: 14px;*/
  line-height: 18px;
  font-weight: normal;
}

.geekItem pre code.medley {
  display: block;
  line-height: 17px;
}

.card-body.shadow-lg.rounded {
  font-weight: bold;
  border: cornflowerblue; 
  padding: 10px;
  color: white;
}

.volontariat, .card-body.shadow-lg.rounded.volontariat, .blockquote.volontariat {
  background-color: rgb(71, 178, 157); 
  font-weight: bold;
}

.missions, .card-body.shadow-lg.rounded.missions, .blockquote.missions {
  background-color: blueviolet;
  font-weight: bold;
}

.formations, .card-body.shadow-lg.rounded.formations, .blockquote.formations {
  background-color: brown;
  text-align: center;
  font-weight: bold;
}

.geekItem.blockquote.formations {
  text-align: left;
}

.autoentrepreneuriat, .card-body.shadow-lg.rounded.autoentrepreneuriat, .blockquote.autoentrepreneuriat {
  background-color: green;
  font-weight: bold;
}

.right-column .content .legende {
  background-color: whitesmoke;
  border: cornflowerblue;
  padding: 60px;
  padding-bottom: 55px;
}

.right-column .content .section .card, .right-column .content .card {
  position: absolute;
}

.all-colors-gradient {
  background-image: linear-gradient(to left, green, blueviolet, brown, rgb(71, 178, 157));
}

.left-column-margin{
  margin-left: 216px;
  background-color: inherit;
  height: 1090px;
  width: 24px;
  position: absolute;
  z-index: 10;
}

.left-column{
  padding: 24px;
  padding-bottom: 6px;
  background-color: #4472C4;
  color: white;
}